In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
df=pd.read_excel(r"C:\Users\moham\Desktop\DataScienceCircle\attendance.xls")

In [3]:
df.head(20)

,"Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,"Total elementary, secondary, and combined elem...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elementary schools,NaN,NaN,NaN,Secondary schools,NaN,NaN,NaN
1,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
2,1,2,NaN,3,NaN,4,NaN,5,NaN,6,NaN,7,NaN,8,NaN,9,NaN
3,United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
4,Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312
5,Alaska ..................,89.9176,1.215976,6.47688,0.049882,180,3.427735,1162.91,22.8639,91.2815,1.563482,6.48679,0.053082,93.2409,1.57371,6.24087,0.145993
6,Arizona .................,89.037,2.952601,6.43369,0.091917,181,1.678664,1159.11,14.4327,88.9044,3.905033,6.44315,0.102053,88.9797,3.22058,6.36909,0.248824
7,Arkansas ................,91.8271,1.352924,6.88542,0.061468,179,0.201577,1228.89,10.6821,92.0932,2.091651,6.93216,0.076546,90.812,2.23155,6.76751,0.095928
8,California ..............,93.241,0.711649,6.24064,0.066364,181,0.439441,1128.77,12.5276,94.9314,0.753808,6.28974,0.051471,89.3609,1.44673,6.14262,0.202711
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Colorado ................,93.8872,0.440366,7.00761,0.051954,171,1.047398,1199.3,9.9247,94.5353,0.447224,6.96058,0.066373,91.2429,1.28132,7.00875,0.105105
11,Connecticut .............,87.9259,2.984395,6.46655,0.087829,181,0.137733,1173.08,15.9229,87.3722,3.977535,6.46963,0.111509,93.7472,0.68057,6.46219,0.091594
12,Delaware ................,89.7706,1.754942,6.67801,0.089584,181,0.831973,1208.23,18.6503,89.3634,2.502472,6.76638,0.060578,‡,(†),6.54407,0.225909
13,District of Columbia ....,91.2208,1.269699,6.91375,0.214259,181,0.437943,1255.96,42.2610,93.9313,0.378824,6.91651,0.096940,‡,(†),‡,(†)
14,Florida .................,92.6782,0.741328,6.42749,0.084127,184,1.200181,1183.57,18.8174,93.9625,0.935657,6.46352,0.054990,89.9067,1.42964,6.31701,0.377265
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Georgia .................,93.2662,1.278376,6.79186,0.058118,181,1.038880,1229.21,12.4409,93.872,1.600244,6.81855,0.060145,93.0693,1.22527,6.87159,0.089014
17,Hawaii ..................,90.7213,4.577376,6.25758,0.097959,179,1.573022,1118.16,12.7243,90.8222,2.634171,6.21725,0.048280,‡,(†),‡,(†)
18,Idaho ...................,92.3733,2.269361,6.63155,0.085639,173,2.580303,1142.51,12.9977,91.9865,3.704115,6.59308,0.126844,92.5208,1.54277,6.66775,0.109899
19,Illinois ................,93.9705,0.706806,6.50051,0.053929,177,0.297876,1147.29,9.6335,95.3386,0.501835,6.49161,0.060825,89.9831,2.45349,6.49655,0.128404

In [4]:
df.columns

Index(['Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [5]:
df.shape

(68, 17)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 17 columns):
 #   Column                                                                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                                                                         --------------  -----
 0   Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08  57 non-null     object
 1   Unnamed: 1                                                                                                                                                                     55 non-null     object
 2   Unnamed: 2                                                                                                                                                                     52 non-null     float64
 3   Unnamed: 3                                                                                                                                                                     54 non-null     object
 4   Unnamed: 4                                                                                                                                                                     52 non-null     float64
 5   Unnamed: 5                                                                                                                                                                     54 non-null     object
 6   Unnamed: 6                                                                                                                                                                     52 non-null     float64
 7   Unnamed: 7                                                                                                                                                                     54 non-null     object
 8   Unnamed: 8                                                                                                                                                                     52 non-null     float64
 9   Unnamed: 9                                                                                                                                                                     55 non-null     object
 10  Unnamed: 10                                                                                                                                                                    52 non-null     float64
 11  Unnamed: 11                                                                                                                                                                    54 non-null     object
 12  Unnamed: 12                                                                                                                                                                    52 non-null     float64
 13  Unnamed: 13                                                                                                                                                                    55 non-null     object
 14  Unnamed: 14                                                                                                                                                                    52 non-null     object
 15  Unnamed: 15                                                                                                                                                                    54 non-null     object
 16  Unnamed: 16                                                                                                                                                                    52 non-null     object
dtypes: float64(6), object(11)
memory usage: 9.2+ KB

In [7]:
df=df.dropna(how='all')

In [8]:
df.shape

(59, 17)

In [9]:
df.head(20)

,"Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,"Total elementary, secondary, and combined elem...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elementary schools,NaN,NaN,NaN,Secondary schools,NaN,NaN,NaN
1,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
2,1,2,NaN,3,NaN,4,NaN,5,NaN,6,NaN,7,NaN,8,NaN,9,NaN
3,United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
4,Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312
5,Alaska ..................,89.9176,1.215976,6.47688,0.049882,180,3.427735,1162.91,22.8639,91.2815,1.563482,6.48679,0.053082,93.2409,1.57371,6.24087,0.145993
6,Arizona .................,89.037,2.952601,6.43369,0.091917,181,1.678664,1159.11,14.4327,88.9044,3.905033,6.44315,0.102053,88.9797,3.22058,6.36909,0.248824
7,Arkansas ................,91.8271,1.352924,6.88542,0.061468,179,0.201577,1228.89,10.6821,92.0932,2.091651,6.93216,0.076546,90.812,2.23155,6.76751,0.095928
8,California ..............,93.241,0.711649,6.24064,0.066364,181,0.439441,1128.77,12.5276,94.9314,0.753808,6.28974,0.051471,89.3609,1.44673,6.14262,0.202711
10,Colorado ................,93.8872,0.440366,7.00761,0.051954,171,1.047398,1199.3,9.9247,94.5353,0.447224,6.96058,0.066373,91.2429,1.28132,7.00875,0.105105
11,Connecticut .............,87.9259,2.984395,6.46655,0.087829,181,0.137733,1173.08,15.9229,87.3722,3.977535,6.46963,0.111509,93.7472,0.68057,6.46219,0.091594
12,Delaware ................,89.7706,1.754942,6.67801,0.089584,181,0.831973,1208.23,18.6503,89.3634,2.502472,6.76638,0.060578,‡,(†),6.54407,0.225909
13,District of Columbia ....,91.2208,1.269699,6.91375,0.214259,181,0.437943,1255.96,42.2610,93.9313,0.378824,6.91651,0.096940,‡,(†),‡,(†)
14,Florida .................,92.6782,0.741328,6.42749,0.084127,184,1.200181,1183.57,18.8174,93.9625,0.935657,6.46352,0.054990,89.9067,1.42964,6.31701,0.377265
16,Georgia .................,93.2662,1.278376,6.79186,0.058118,181,1.038880,1229.21,12.4409,93.872,1.600244,6.81855,0.060145,93.0693,1.22527,6.87159,0.089014
17,Hawaii ..................,90.7213,4.577376,6.25758,0.097959,179,1.573022,1118.16,12.7243,90.8222,2.634171,6.21725,0.048280,‡,(†),‡,(†)
18,Idaho ...................,92.3733,2.269361,6.63155,0.085639,173,2.580303,1142.51,12.9977,91.9865,3.704115,6.59308,0.126844,92.5208,1.54277,6.66775,0.109899
19,Illinois ................,93.9705,0.706806,6.50051,0.053929,177,0.297876,1147.29,9.6335,95.3386,0.501835,6.49161,0.060825,89.9831,2.45349,6.49655,0.128404
20,Indiana .................,95.6746,0.510953,6.77208,0.062664,180,0.293324,1221.84,11.4011,95.8824,0.608187,6.71015,0.067023,95.0476,0.742807,6.96317,0.089091
22,Iowa ....................,94.7606,0.645329,6.85364,0.088878,180,0.198761,1232.16,16.2713,96.2859,0.464240,6.89253,0.073588,90.4463,2.32932,6.64382,0.297336

In [10]:
df.rename(columns={'Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08':'City Name'},inplace=True)

In [11]:
df.head()

,City Name,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,"Total elementary, secondary, and combined elem...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elementary schools,NaN,NaN,NaN,Secondary schools,NaN,NaN,NaN
1,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
2,1,2,NaN,3,NaN,4,NaN,5,NaN,6,NaN,7,NaN,8,NaN,9,NaN
3,United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
4,Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312

In [12]:
df.drop([0],inplace=True)

In [13]:
df.head()

,City Name,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
1,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
2,1,2,NaN,3,NaN,4,NaN,5,NaN,6,NaN,7,NaN,8,NaN,9,NaN
3,United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
4,Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312
5,Alaska ..................,89.9176,1.215976,6.47688,0.049882,180,3.427735,1162.91,22.8639,91.2815,1.563482,6.48679,0.053082,93.2409,1.57371,6.24087,0.145993

In [14]:
df.set_index('City Name',inplace=True)

In [15]:
df.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
City Name,,,,,,,,,,,,,,,,
NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
1,2,NaN,3,NaN,4,NaN,5,NaN,6,NaN,7,NaN,8,NaN,9,NaN
United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312
Alaska ..................,89.9176,1.215976,6.47688,0.049882,180,3.427735,1162.91,22.8639,91.2815,1.563482,6.48679,0.053082,93.2409,1.57371,6.24087,0.145993

In [16]:
df.columns = df.iloc[0]

In [17]:
df.head()

nan,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
City Name,,,,,,,,,,,,,,,,
NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
1,2,NaN,3,NaN,4,NaN,5,NaN,6,NaN,7,NaN,8,NaN,9,NaN
United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312
Alaska ..................,89.9176,1.215976,6.47688,0.049882,180,3.427735,1162.91,22.8639,91.2815,1.563482,6.48679,0.053082,93.2409,1.57371,6.24087,0.145993

In [18]:
df = df.drop(1)

In [19]:
df.head()

nan,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
City Name,,,,,,,,,,,,,,,,
NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312
Alaska ..................,89.9176,1.215976,6.47688,0.049882,180,3.427735,1162.91,22.8639,91.2815,1.563482,6.48679,0.053082,93.2409,1.57371,6.24087,0.145993
Arizona .................,89.037,2.952601,6.43369,0.091917,181,1.678664,1159.11,14.4327,88.9044,3.905033,6.44315,0.102053,88.9797,3.22058,6.36909,0.248824

In [20]:
df.reset_index(level=0, inplace=True)

In [21]:
df.head()

nan,City Name,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
0,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
1,United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
2,Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312
3,Alaska ..................,89.9176,1.215976,6.47688,0.049882,180,3.427735,1162.91,22.8639,91.2815,1.563482,6.48679,0.053082,93.2409,1.57371,6.24087,0.145993
4,Arizona .................,89.037,2.952601,6.43369,0.091917,181,1.678664,1159.11,14.4327,88.9044,3.905033,6.44315,0.102053,88.9797,3.22058,6.36909,0.248824

In [22]:
df = df.rename_axis('Index')

In [23]:
df.head()

nan,City Name,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
Index,,,,,,,,,,,,,,,,,
0,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
1,United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
2,Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312
3,Alaska ..................,89.9176,1.215976,6.47688,0.049882,180,3.427735,1162.91,22.8639,91.2815,1.563482,6.48679,0.053082,93.2409,1.57371,6.24087,0.145993
4,Arizona .................,89.037,2.952601,6.43369,0.091917,181,1.678664,1159.11,14.4327,88.9044,3.905033,6.44315,0.102053,88.9797,3.22058,6.36909,0.248824

In [24]:
df.columns

Index([                   'City Name', 'ADA as percent of enrollment',
                                  nan,  'Average hours in school day',
                                  nan,  'Average days in school year',
                                  nan, 'Average hours in school year',
                                  nan, 'ADA as percent of enrollment',
                                  nan,  'Average hours in school day',
                                  nan, 'ADA as percent of enrollment',
                                  nan,  'Average hours in school day',
                                  nan],
      dtype='object', name=nan)

In [25]:
df['City Name']

Index
0                                                   NaN
1                                United States ........
2                             Alabama .................
3                             Alaska ..................
4                             Arizona .................
5                             Arkansas ................
6                             California ..............
7                             Colorado ................
8                             Connecticut .............
9                             Delaware ................
10                            District of Columbia ....
11                            Florida .................
12                            Georgia .................
13                            Hawaii ..................
14                            Idaho ...................
15                            Illinois ................
16                            Indiana .................
17                            Iowa ....................
18                            Kansas ..................
19                            Kentucky ................
20                            Louisiana ...............
21                            Maine ...................
22                            Maryland ................
23                            Massachusetts ...........
24                            Michigan ................
25                            Minnesota ...............
26                            Mississippi .............
27                            Missouri ................
28                            Montana .................
29                            Nebraska ................
30                            Nevada ..................
31                            New Hampshire ...........
32                            New Jersey ..............
33                            New Mexico ..............
34                            New York ................
35                            North Carolina ..........
36                            North Dakota ............
37                            Ohio ....................
38                            Oklahoma ................
39                            Oregon ..................
40                            Pennsylvania ............
41                            Rhode Island ............
42                            South Carolina ..........
43                            South Dakota ............
44                            Tennessee ...............
45                            Texas ...................
46                            Utah ....................
47                            Vermont .................
48                            Virginia ................
49                            Washington ..............
50                            West Virginia ...........
51                            Wisconsin ...............
52                            Wyoming .................
53                                     †Not applicable.
54      ‡Reporting standards not met (too few cases).
55    NOTE: Averages reflect data reported by school...
56    SOURCE: U.S. Department of Education, National...
Name: City Name, dtype: object

In [26]:
df['City Name']=df['City Name'].str.replace('.',' ')

In [27]:
df.head()

nan,City Name,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
Index,,,,,,,,,,,,,,,,,
0,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
1,United States,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
2,Alabama,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312
3,Alaska,89.9176,1.215976,6.47688,0.049882,180,3.427735,1162.91,22.8639,91.2815,1.563482,6.48679,0.053082,93.2409,1.57371,6.24087,0.145993
4,Arizona,89.037,2.952601,6.43369,0.091917,181,1.678664,1159.11,14.4327,88.9044,3.905033,6.44315,0.102053,88.9797,3.22058,6.36909,0.248824

In [28]:
df.iloc[0]

nan
City Name                                                NaN
ADA as percent of enrollment    ADA as percent of enrollment
NaN                                                      NaN
Average hours in school day      Average hours in school day
NaN                                                      NaN
Average days in school year      Average days in school year
NaN                                                      NaN
Average hours in school year    Average hours in school year
NaN                                                      NaN
ADA as percent of enrollment    ADA as percent of enrollment
NaN                                                      NaN
Average hours in school day      Average hours in school day
NaN                                                      NaN
ADA as percent of enrollment    ADA as percent of enrollment
NaN                                                      NaN
Average hours in school day      Average hours in school day
NaN                                                      NaN
Name: 0, dtype: object

In [29]:
df.drop(0,inplace=True)

In [30]:
df.head()

nan,City Name,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
Index,,,,,,,,,,,,,,,,,
1,United States,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
2,Alabama,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312
3,Alaska,89.9176,1.215976,6.47688,0.049882,180,3.427735,1162.91,22.8639,91.2815,1.563482,6.48679,0.053082,93.2409,1.57371,6.24087,0.145993
4,Arizona,89.037,2.952601,6.43369,0.091917,181,1.678664,1159.11,14.4327,88.9044,3.905033,6.44315,0.102053,88.9797,3.22058,6.36909,0.248824
5,Arkansas,91.8271,1.352924,6.88542,0.061468,179,0.201577,1228.89,10.6821,92.0932,2.091651,6.93216,0.076546,90.812,2.23155,6.76751,0.095928

In [31]:
df.isnull().sum()

nan
City Name                       0
ADA as percent of enrollment    4
NaN                             4
Average hours in school day     4
NaN                             4
Average days in school year     4
NaN                             4
Average hours in school year    4
NaN                             4
ADA as percent of enrollment    4
NaN                             4
Average hours in school day     4
NaN                             4
ADA as percent of enrollment    4
NaN                             4
Average hours in school day     4
NaN                             4
dtype: int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 1 to 56
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   City Name                     56 non-null     object
 1   ADA as percent of enrollment  52 non-null     object
 2   nan                           52 non-null     float64
 3   Average hours in school day   52 non-null     object
 4   nan                           52 non-null     float64
 5   Average days in school year   52 non-null     object
 6   nan                           52 non-null     float64
 7   Average hours in school year  52 non-null     object
 8   nan                           52 non-null     float64
 9   ADA as percent of enrollment  52 non-null     object
 10  nan                           52 non-null     float64
 11  Average hours in school day   52 non-null     object
 12  nan                           52 non-null     float64
 13  ADA as percent of enrollment  52 non-null     object
 14  nan                           52 non-null     object
 15  Average hours in school day   52 non-null     object
 16  nan                           52 non-null     object
dtypes: float64(6), object(11)
memory usage: 7.9+ KB

In [33]:
df.shape

(56, 17)

In [34]:
df.columns=['City Name','ADA as percent of enrollment','ADA Decimal','Average hours in school day','AH Decimal','Average days in school year',
           'AD Decimal','Average hours in school year','AH Decimal','ADA as percent of enrollment Elementry','ADA Decimal','Average hours in school day Elementry',
           'AH Decimal Elemetry','ADA as percent of enrollment Secondry','ADA Decimal Secondry','Average hours in school day secondry',
           'AH Decimal Secondry']

In [35]:
df.head()

,City Name,ADA as percent of enrollment,ADA Decimal,Average hours in school day,AH Decimal,Average days in school year,AD Decimal,Average hours in school year,AH Decimal,ADA as percent of enrollment Elementry,ADA Decimal,Average hours in school day Elementry,AH Decimal Elemetry,ADA as percent of enrollment Secondry,ADA Decimal Secondry,Average hours in school day secondry,AH Decimal Secondry
Index,,,,,,,,,,,,,,,,,
1,United States,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
2,Alabama,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312
3,Alaska,89.9176,1.215976,6.47688,0.049882,180,3.427735,1162.91,22.8639,91.2815,1.563482,6.48679,0.053082,93.2409,1.57371,6.24087,0.145993
4,Arizona,89.037,2.952601,6.43369,0.091917,181,1.678664,1159.11,14.4327,88.9044,3.905033,6.44315,0.102053,88.9797,3.22058,6.36909,0.248824
5,Arkansas,91.8271,1.352924,6.88542,0.061468,179,0.201577,1228.89,10.6821,92.0932,2.091651,6.93216,0.076546,90.812,2.23155,6.76751,0.095928

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 1 to 56
Data columns (total 17 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   City Name                               56 non-null     object
 1   ADA as percent of enrollment            52 non-null     object
 2   ADA Decimal                             52 non-null     float64
 3   Average hours in school day             52 non-null     object
 4   AH Decimal                              52 non-null     float64
 5   Average days in school year             52 non-null     object
 6   AD Decimal                              52 non-null     float64
 7   Average hours in school year            52 non-null     object
 8   AH Decimal                              52 non-null     float64
 9   ADA as percent of enrollment Elementry  52 non-null     object
 10  ADA Decimal                             52 non-null     float64
 11  Average hours in school day Elementry   52 non-null     object
 12  AH Decimal Elemetry                     52 non-null     float64
 13  ADA as percent of enrollment Secondry   52 non-null     object
 14  ADA Decimal Secondry                    52 non-null     object
 15  Average hours in school day secondry    52 non-null     object
 16  AH Decimal Secondry                     52 non-null     object
dtypes: float64(6), object(11)
memory usage: 7.9+ KB

In [39]:
df.head(20)

,City Name,ADA as percent of enrollment,ADA Decimal,Average hours in school day,AH Decimal,Average days in school year,AD Decimal,Average hours in school year,AH Decimal,ADA as percent of enrollment Elementry,ADA Decimal,Average hours in school day Elementry,AH Decimal Elemetry,ADA as percent of enrollment Secondry,ADA Decimal Secondry,Average hours in school day secondry,AH Decimal Secondry
Index,,,,,,,,,,,,,,,,,
1,United States,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
2,Alabama,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312
3,Alaska,89.9176,1.215976,6.47688,0.049882,180,3.427735,1162.91,22.8639,91.2815,1.563482,6.48679,0.053082,93.2409,1.57371,6.24087,0.145993
4,Arizona,89.037,2.952601,6.43369,0.091917,181,1.678664,1159.11,14.4327,88.9044,3.905033,6.44315,0.102053,88.9797,3.22058,6.36909,0.248824
5,Arkansas,91.8271,1.352924,6.88542,0.061468,179,0.201577,1228.89,10.6821,92.0932,2.091651,6.93216,0.076546,90.812,2.23155,6.76751,0.095928
6,California,93.241,0.711649,6.24064,0.066364,181,0.439441,1128.77,12.5276,94.9314,0.753808,6.28974,0.051471,89.3609,1.44673,6.14262,0.202711
7,Colorado,93.8872,0.440366,7.00761,0.051954,171,1.047398,1199.3,9.9247,94.5353,0.447224,6.96058,0.066373,91.2429,1.28132,7.00875,0.105105
8,Connecticut,87.9259,2.984395,6.46655,0.087829,181,0.137733,1173.08,15.9229,87.3722,3.977535,6.46963,0.111509,93.7472,0.68057,6.46219,0.091594
9,Delaware,89.7706,1.754942,6.67801,0.089584,181,0.831973,1208.23,18.6503,89.3634,2.502472,6.76638,0.060578,‡,(†),6.54407,0.225909
10,District of Columbia,91.2208,1.269699,6.91375,0.214259,181,0.437943,1255.96,42.2610,93.9313,0.378824,6.91651,0.096940,‡,(†),‡,(†)
11,Florida,92.6782,0.741328,6.42749,0.084127,184,1.200181,1183.57,18.8174,93.9625,0.935657,6.46352,0.054990,89.9067,1.42964,6.31701,0.377265
12,Georgia,93.2662,1.278376,6.79186,0.058118,181,1.038880,1229.21,12.4409,93.872,1.600244,6.81855,0.060145,93.0693,1.22527,6.87159,0.089014
13,Hawaii,90.7213,4.577376,6.25758,0.097959,179,1.573022,1118.16,12.7243,90.8222,2.634171,6.21725,0.048280,‡,(†),‡,(†)
14,Idaho,92.3733,2.269361,6.63155,0.085639,173,2.580303,1142.51,12.9977,91.9865,3.704115,6.59308,0.126844,92.5208,1.54277,6.66775,0.109899
15,Illinois,93.9705,0.706806,6.50051,0.053929,177,0.297876,1147.29,9.6335,95.3386,0.501835,6.49161,0.060825,89.9831,2.45349,6.49655,0.128404
16,Indiana,95.6746,0.510953,6.77208,0.062664,180,0.293324,1221.84,11.4011,95.8824,0.608187,6.71015,0.067023,95.0476,0.742807,6.96317,0.089091
17,Iowa,94.7606,0.645329,6.85364,0.088878,180,0.198761,1232.16,16.2713,96.2859,0.464240,6.89253,0.073588,90.4463,2.32932,6.64382,0.297336
18,Kansas,95.3508,0.518303,6.98152,0.073274,178,0.633207,1240.07,14.6755,95.897,0.532599,6.98478,0.092847,94.6401,0.352401,7.00631,0.069329
19,Kentucky,93.0681,1.893770,6.68771,0.058200,180,1.074857,1201.77,11.8224,93.9503,2.555089,6.70708,0.079091,91.4904,2.87798,6.70971,0.089078
20,Louisiana,90.3495,2.310309,7.07677,0.077571,178,0.962000,1262.86,14.9237,91.5498,3.190268,6.95146,0.104969,88.0394,1.81895,7.26485,0.116807

In [40]:
df = df.replace(['‡'],'NaN')
df = df.replace(['(†)'],'NaN')

In [41]:
df.head(20)

,City Name,ADA as percent of enrollment,ADA Decimal,Average hours in school day,AH Decimal,Average days in school year,AD Decimal,Average hours in school year,AH Decimal,ADA as percent of enrollment Elementry,ADA Decimal,Average hours in school day Elementry,AH Decimal Elemetry,ADA as percent of enrollment Secondry,ADA Decimal Secondry,Average hours in school day secondry,AH Decimal Secondry
Index,,,,,,,,,,,,,,,,,
1,United States,93.078962,0.218555,6.64470,0.017650,180.0,0.142993,1192.6472,3.0859,94.004983,0.269369,6.656056,0.015998,91.1181,0.432223,6.59439,0.040308
2,Alabama,93.812371,1.237261,7.02852,0.065621,180.0,0.755110,1266.6205,12.3343,93.776375,1.839154,7.038473,0.075944,94.561,0.37928,7.13724,0.17312
3,Alaska,89.917597,1.215976,6.47688,0.049882,180.0,3.427735,1162.9084,22.8639,91.281537,1.563482,6.486785,0.053082,93.2409,1.57371,6.24087,0.145993
4,Arizona,89.036961,2.952601,6.43369,0.091917,181.0,1.678664,1159.1144,14.4327,88.904393,3.905033,6.443155,0.102053,88.9797,3.22058,6.36909,0.248824
5,Arkansas,91.827111,1.352924,6.88542,0.061468,179.0,0.201577,1228.8881,10.6821,92.093201,2.091651,6.932160,0.076546,90.812,2.23155,6.76751,0.095928
6,California,93.241017,0.711649,6.24064,0.066364,181.0,0.439441,1128.7694,12.5276,94.931421,0.753808,6.289745,0.051471,89.3609,1.44673,6.14262,0.202711
7,Colorado,93.887162,0.440366,7.00761,0.051954,171.0,1.047398,1199.2969,9.9247,94.535267,0.447224,6.960578,0.066373,91.2429,1.28132,7.00875,0.105105
8,Connecticut,87.925871,2.984395,6.46655,0.087829,181.0,0.137733,1173.0770,15.9229,87.372240,3.977535,6.469634,0.111509,93.7472,0.68057,6.46219,0.091594
9,Delaware,89.770581,1.754942,6.67801,0.089584,181.0,0.831973,1208.2303,18.6503,89.363391,2.502472,6.766382,0.060578,NaN,NaN,6.54407,0.225909
10,District of Columbia,91.220829,1.269699,6.91375,0.214259,181.0,0.437943,1255.9567,42.2610,93.931297,0.378824,6.916508,0.096940,NaN,NaN,NaN,NaN
11,Florida,92.678174,0.741328,6.42749,0.084127,184.0,1.200181,1183.5712,18.8174,93.962499,0.935657,6.463525,0.054990,89.9067,1.42964,6.31701,0.377265
12,Georgia,93.266158,1.278376,6.79186,0.058118,181.0,1.038880,1229.2059,12.4409,93.871971,1.600244,6.818553,0.060145,93.0693,1.22527,6.87159,0.089014
13,Hawaii,90.721279,4.577376,6.25758,0.097959,179.0,1.573022,1118.1579,12.7243,90.822238,2.634171,6.217248,0.048280,NaN,NaN,NaN,NaN
14,Idaho,92.373340,2.269361,6.63155,0.085639,173.0,2.580303,1142.5146,12.9977,91.986537,3.704115,6.593079,0.126844,92.5208,1.54277,6.66775,0.109899
15,Illinois,93.970461,0.706806,6.50051,0.053929,177.0,0.297876,1147.2934,9.6335,95.338551,0.501835,6.491613,0.060825,89.9831,2.45349,6.49655,0.128404
16,Indiana,95.674644,0.510953,6.77208,0.062664,180.0,0.293324,1221.8401,11.4011,95.882424,0.608187,6.710154,0.067023,95.0476,0.742807,6.96317,0.089091
17,Iowa,94.760592,0.645329,6.85364,0.088878,180.0,0.198761,1232.1636,16.2713,96.285859,0.464240,6.892526,0.073588,90.4463,2.32932,6.64382,0.297336
18,Kansas,95.350826,0.518303,6.98152,0.073274,178.0,0.633207,1240.0659,14.6755,95.897011,0.532599,6.984776,0.092847,94.6401,0.352401,7.00631,0.069329
19,Kentucky,93.068117,1.893770,6.68771,0.058200,180.0,1.074857,1201.7665,11.8224,93.950285,2.555089,6.707083,0.079091,91.4904,2.87798,6.70971,0.089078
20,Louisiana,90.349523,2.310309,7.07677,0.077571,178.0,0.962000,1262.8637,14.9237,91.549757,3.190268,6.951457,0.104969,88.0394,1.81895,7.26485,0.116807

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 1 to 56
Data columns (total 17 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   City Name                               56 non-null     object
 1   ADA as percent of enrollment            52 non-null     float64
 2   ADA Decimal                             52 non-null     float64
 3   Average hours in school day             52 non-null     float64
 4   AH Decimal                              52 non-null     float64
 5   Average days in school year             52 non-null     float64
 6   AD Decimal                              52 non-null     float64
 7   Average hours in school year            52 non-null     float64
 8   AH Decimal                              52 non-null     float64
 9   ADA as percent of enrollment Elementry  52 non-null     float64
 10  ADA Decimal                             52 non-null     float64
 11  Average hours in school day Elementry   52 non-null     float64
 12  AH Decimal Elemetry                     52 non-null     float64
 13  ADA as percent of enrollment Secondry   52 non-null     object
 14  ADA Decimal Secondry                    52 non-null     object
 15  Average hours in school day secondry    52 non-null     object
 16  AH Decimal Secondry                     52 non-null     object
dtypes: float64(12), object(5)
memory usage: 7.9+ KB

In [43]:
df.apply(pd.to_numeric, errors='ignore')

,City Name,ADA as percent of enrollment,ADA Decimal,Average hours in school day,AH Decimal,Average days in school year,AD Decimal,Average hours in school year,AH Decimal,ADA as percent of enrollment Elementry,ADA Decimal,Average hours in school day Elementry,AH Decimal Elemetry,ADA as percent of enrollment Secondry,ADA Decimal Secondry,Average hours in school day secondry,AH Decimal Secondry
Index,,,,,,,,,,,,,,,,,
1,United States,93.078962,0.218555,6.64470,0.017650,180.0,0.142993,1192.6472,3.0859,94.004983,0.269369,6.656056,0.015998,91.1181,0.432223,6.59439,0.040308
2,Alabama,93.812371,1.237261,7.02852,0.065621,180.0,0.755110,1266.6205,12.3343,93.776375,1.839154,7.038473,0.075944,94.561,0.37928,7.13724,0.17312
3,Alaska,89.917597,1.215976,6.47688,0.049882,180.0,3.427735,1162.9084,22.8639,91.281537,1.563482,6.486785,0.053082,93.2409,1.57371,6.24087,0.145993
4,Arizona,89.036961,2.952601,6.43369,0.091917,181.0,1.678664,1159.1144,14.4327,88.904393,3.905033,6.443155,0.102053,88.9797,3.22058,6.36909,0.248824
5,Arkansas,91.827111,1.352924,6.88542,0.061468,179.0,0.201577,1228.8881,10.6821,92.093201,2.091651,6.932160,0.076546,90.812,2.23155,6.76751,0.095928
6,California,93.241017,0.711649,6.24064,0.066364,181.0,0.439441,1128.7694,12.5276,94.931421,0.753808,6.289745,0.051471,89.3609,1.44673,6.14262,0.202711
7,Colorado,93.887162,0.440366,7.00761,0.051954,171.0,1.047398,1199.2969,9.9247,94.535267,0.447224,6.960578,0.066373,91.2429,1.28132,7.00875,0.105105
8,Connecticut,87.925871,2.984395,6.46655,0.087829,181.0,0.137733,1173.0770,15.9229,87.372240,3.977535,6.469634,0.111509,93.7472,0.68057,6.46219,0.091594
9,Delaware,89.770581,1.754942,6.67801,0.089584,181.0,0.831973,1208.2303,18.6503,89.363391,2.502472,6.766382,0.060578,NaN,NaN,6.54407,0.225909
10,District of Columbia,91.220829,1.269699,6.91375,0.214259,181.0,0.437943,1255.9567,42.2610,93.931297,0.378824,6.916508,0.096940,NaN,NaN,NaN,NaN
11,Florida,92.678174,0.741328,6.42749,0.084127,184.0,1.200181,1183.5712,18.8174,93.962499,0.935657,6.463525,0.054990,89.9067,1.42964,6.31701,0.377265
12,Georgia,93.266158,1.278376,6.79186,0.058118,181.0,1.038880,1229.2059,12.4409,93.871971,1.600244,6.818553,0.060145,93.0693,1.22527,6.87159,0.089014
13,Hawaii,90.721279,4.577376,6.25758,0.097959,179.0,1.573022,1118.1579,12.7243,90.822238,2.634171,6.217248,0.048280,NaN,NaN,NaN,NaN
14,Idaho,92.373340,2.269361,6.63155,0.085639,173.0,2.580303,1142.5146,12.9977,91.986537,3.704115,6.593079,0.126844,92.5208,1.54277,6.66775,0.109899
15,Illinois,93.970461,0.706806,6.50051,0.053929,177.0,0.297876,1147.2934,9.6335,95.338551,0.501835,6.491613,0.060825,89.9831,2.45349,6.49655,0.128404
16,Indiana,95.674644,0.510953,6.77208,0.062664,180.0,0.293324,1221.8401,11.4011,95.882424,0.608187,6.710154,0.067023,95.0476,0.742807,6.96317,0.089091
17,Iowa,94.760592,0.645329,6.85364,0.088878,180.0,0.198761,1232.1636,16.2713,96.285859,0.464240,6.892526,0.073588,90.4463,2.32932,6.64382,0.297336
18,Kansas,95.350826,0.518303,6.98152,0.073274,178.0,0.633207,1240.0659,14.6755,95.897011,0.532599,6.984776,0.092847,94.6401,0.352401,7.00631,0.069329
19,Kentucky,93.068117,1.893770,6.68771,0.058200,180.0,1.074857,1201.7665,11.8224,93.950285,2.555089,6.707083,0.079091,91.4904,2.87798,6.70971,0.089078
20,Louisiana,90.349523,2.310309,7.07677,0.077571,178.0,0.962000,1262.8637,14.9237,91.549757,3.190268,6.951457,0.104969,88.0394,1.81895,7.26485,0.116807
21,Maine,90.303632,2.409541,6.47134,0.064845,176.0,0.225253,1138.8027,11.1675,90.325384,3.175706,6.545149,0.078724,89.5276,1.58029,6.23848,0.143481
22,Maryland,94.103682,0.439791,6.58861,0.072328,180.0,0.362775,1187.9629,13.8137,95.258734,0.372772,6.652030,0.055013,90.1805,1.19629,6.39479,0.317211
23,Massachusetts,94.596304,0.579249,6.45064,0.051428,180.0,0.068994,1162.6780,9.3420,95.870020,0.281920,6.397192,0.058120,89.6125,2.66497,6.61977,0.103123
24,Michigan,92.968459,1.011628,6.56221,0.076225,178.0,0.903239,1168.2051,13.2329,94.528839,1.119723,6.705792,0.066873,88.7778,2.06342,6.21481,0.204946
25,Minnesota,93.146022,0.908900,6.28035,0.121614,176.0,1.417200,1101.8596,19.7642,94.781404,1.220212,6.508219,0.063133,93.2378,0.818993,6.30476,0.128575
26,Mississippi,92.091106,1.996271,6.99492,0.122474,181.0,0.194161,1264.5671,22.4842,95.055789,0.334469,7.062053,0.070032,92.91,0.762194,6.81782,0.370673
27,Missouri,94.823437,0.260989,6.69850,0.052192,177.0,0.987228,1184.2128,11.2796,95.645352,0.319035,6.770900,0.075069,92.7646,0.53806,6.51251,0.109776
28,Montana,91.325266,1.394940,6.78815,0.054423,179.0,0.345266,1217.9983,10.3412,92.124666,1.857466,6.731135,0.076765,95.2573,0.659121,6.75698,0.087259
29,Nebraska,94.944186,1.214149,6.92428,0.080869,178.0,0.727576,1229.4223,14.1710,95.513922,1.959975,6.856092,0.077880,95.2374,0.367354,6.71184,0.43694
30,Nevada,93.515077,1.274028,6.30472,0.056042,180.0,0.178129,1134.6414,10.1345,93.219824,1.724913,6.309128,0.059300,94.8405,0.736088,6.26562,0.14256
31,New Hampshire,92.207444,1.754847,6.54072,0.063014,180.0,0.048457,1178.1801,11.2351,92.545109,2.120287,6.474104,0.035447,90.3873,3.28455,6.80513,0.113535
32,New Jersey,94.610399,0.593407,6.44100,0.051120,181.0,0.356345,1167.4856,8.8999,95.518366,0.465409,6.422115,0.061848,91.6625,1.73682,6.52887,0.08978
33,New Mexico,91.873346,1.764860,6.84617,0.078588,177.0,1.426564,1208.9868,13.2985,92.278780,2.385688,6.745110,0.090996,90.1029,2.11624,7.05618,0.120285
34,New York,92.735377,1.302509,6.58606,0.085583,182.0,0.385996,1201.5685,16.1519,94.448910,0.613896,6.467199,0.122943,90.8198,3.15359,6.94432,0.062449
35,North Carolina,92.593062,1.728306,6.74883,0.059490,180.0,0.060545,1215.6425,10.7440,93.340686,2.330890,6.739877,0.074855,90.7752,1.77504,6.82943,0.091997
36,North Dakota,95.921212,0.588245,6.58249,0.038108,176.0,0.441778,1161.3908,7.3662,96.527156,0.306219,6.514401,0.040640,92.8834,2.51123,6.76527,0.069815
37,Ohio,91.780603,2.005199,6.60656,0.096734,180.0,0.319711,1190.5184,18.4531,91.686920,2.766763,6.579457,0.111114,92.8262,1.61815,6.64843,0.213482
38,Oklahoma,92.057487,2.241093,6.62873,0.058455,176.0,0.193334,1166.1491,10.4225,90.804590,3.477207,6.693441,0.049616,93.716,0.656603,6.5126,0.195214
39,Oregon,94.401409,0.591843,6.56541,0.056808,172.0,1.474504,1130.0288,10.6379,95.031392,0.240592,6.525386,0.051206,92.9188,1.36643,6.5591,0.138652
40,Pennsylvania,94.880593,0.392465,6.42794,0.123120,181.0,0.282291,1162.7027,22.2244,95.364390,0.456340,6.472706,0.090435,94.1435,0.883882,6.35327,0.396725
41,Rhode Island,93.736534,1.267272,6.27171,0.031661,180.0,0.092194,1131.0956,5.6457,94.232211,1.628417,6.241747,0.036296,NaN,NaN,NaN,NaN
42,South Carolina,94.897206,0.714842,6.92488,0.069953,181.0,0.427131,1251.5353,12.6797,95.767004,0.732163,6.973152,0.048151,91.8761,1.90232,6.78377,0.253193
43,South Dakota,93.640576,2.533928,6.82809,0.079889,173.0,0.854924,1179.9090,10.0969,93.211795,3.779123,6.844293,0.098693,NaN,NaN,NaN,NaN
44,Tennessee,94.942545,0.227754,7.02813,0.054076,180.0,0.330222,1265.1483,9.8424,95.573729,0.246806,7.035905,0.071533,93.4541,0.788111,7.02342,0.028951
45,Texas,94.086751,1.335309,7.17318,0.108078,180.0,0.796808,1288.8847,18.8107,95.681851,1.614634,7.169326,0.098598,89.6515,3.43487,7.05743,0.162884
46,Utah,91.367433,1.557600,6.28167,0.286143,182.0,6.237453,1142.1014,33.3865,93.770010,1.792894,6.532641,0.089300,87.1377,3.4221,5.85581,0.551016
47,Vermont,92.726006,3.392472,6.65638,0.073960,177.0,0.457090,1179.4527,13.5836,93.081166,4.498027,6.716467,0.090426,90.7783,4.08082,6.4075,0.176015
48,Virginia,94.677993,0.460467,6.61718,0.050234,181.0,0.159185,1197.3283,9.1034,95.596850,0.349639,6.611134,0.032699,93.9422,0.5841,6.67654,0.187479
49,Washington,82.855625,3.056990,6.22202,0.080353,179.0,0.173674,1116.5367,14.4906,81.047004,4.416025,6.378638,0.045202,85.7672,2.75371,5.89289,0.266992
50,West Virginia,94.009760,0.987722,6.87364,0.070124,182.0,0.497818,1251.2268,13.6853,94.374244,1.315128,6.879590,0.093158,92.846,0.408932,6.82534,0.136584
51,Wisconsin,94.950856,0.566144,6.91175,0.042731,180.0,0.736128,1246.4809,8.6319,95.375952,0.414753,6.886868,0.048538,93.0196,1.90793,7.01951,0.144539
52,Wyoming,92.353008,1.154487,6.85867,0.045848,175.0,1.278829,1200.9323,8.3266,92.190909,1.647681,6.850612,0.054651,92.3894,0.749597,6.97859,0.0679
53,†Not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,‡Reporting standards not met (too few cases),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NOTE: Averages reflect data reported by school...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,"SOURCE: U S Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 1 to 56
Data columns (total 17 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   City Name                               56 non-null     object
 1   ADA as percent of enrollment            52 non-null     float64
 2   ADA Decimal                             52 non-null     float64
 3   Average hours in school day             52 non-null     float64
 4   AH Decimal                              52 non-null     float64
 5   Average days in school year             52 non-null     float64
 6   AD Decimal                              52 non-null     float64
 7   Average hours in school year            52 non-null     float64
 8   AH Decimal                              52 non-null     float64
 9   ADA as percent of enrollment Elementry  52 non-null     float64
 10  ADA Decimal                             52 non-null     float64
 11  Average hours in school day Elementry   52 non-null     float64
 12  AH Decimal Elemetry                     52 non-null     float64
 13  ADA as percent of enrollment Secondry   52 non-null     object
 14  ADA Decimal Secondry                    52 non-null     object
 15  Average hours in school day secondry    52 non-null     object
 16  AH Decimal Secondry                     52 non-null     object
dtypes: float64(12), object(5)
memory usage: 7.9+ KB

In [52]:
df.drop([53,54,55,56],inplace=True)

In [53]:
df.tail()

,City Name,ADA as percent of enrollment,ADA Decimal,Average hours in school day,AH Decimal,Average days in school year,AD Decimal,Average hours in school year,AH Decimal,ADA as percent of enrollment Elementry,ADA Decimal,Average hours in school day Elementry,AH Decimal Elemetry,ADA as percent of enrollment Secondry,ADA Decimal Secondry,Average hours in school day secondry,AH Decimal Secondry
Index,,,,,,,,,,,,,,,,,
48,Virginia,94.677993,0.460467,6.61718,0.050234,181.0,0.159185,1197.3283,9.1034,95.596850,0.349639,6.611134,0.032699,93.9422,0.5841,6.67654,0.187479
49,Washington,82.855625,3.056990,6.22202,0.080353,179.0,0.173674,1116.5367,14.4906,81.047004,4.416025,6.378638,0.045202,85.7672,2.75371,5.89289,0.266992
50,West Virginia,94.009760,0.987722,6.87364,0.070124,182.0,0.497818,1251.2268,13.6853,94.374244,1.315128,6.879590,0.093158,92.846,0.408932,6.82534,0.136584
51,Wisconsin,94.950856,0.566144,6.91175,0.042731,180.0,0.736128,1246.4809,8.6319,95.375952,0.414753,6.886868,0.048538,93.0196,1.90793,7.01951,0.144539
52,Wyoming,92.353008,1.154487,6.85867,0.045848,175.0,1.278829,1200.9323,8.3266,92.190909,1.647681,6.850612,0.054651,92.3894,0.749597,6.97859,0.0679

In [54]:
df.isnull().sum()

City Name                                 0
ADA as percent of enrollment              0
ADA Decimal                               0
Average hours in school day               0
AH Decimal                                0
Average days in school year               0
AD Decimal                                0
Average hours in school year              0
AH Decimal                                0
ADA as percent of enrollment Elementry    0
ADA Decimal                               0
Average hours in school day Elementry     0
AH Decimal Elemetry                       0
ADA as percent of enrollment Secondry     0
ADA Decimal Secondry                      0
Average hours in school day secondry      0
AH Decimal Secondry                       0
dtype: int64

In [55]:
df.head()

,City Name,ADA as percent of enrollment,ADA Decimal,Average hours in school day,AH Decimal,Average days in school year,AD Decimal,Average hours in school year,AH Decimal,ADA as percent of enrollment Elementry,ADA Decimal,Average hours in school day Elementry,AH Decimal Elemetry,ADA as percent of enrollment Secondry,ADA Decimal Secondry,Average hours in school day secondry,AH Decimal Secondry
Index,,,,,,,,,,,,,,,,,
1,United States,93.078962,0.218555,6.64470,0.017650,180.0,0.142993,1192.6472,3.0859,94.004983,0.269369,6.656056,0.015998,91.1181,0.432223,6.59439,0.040308
2,Alabama,93.812371,1.237261,7.02852,0.065621,180.0,0.755110,1266.6205,12.3343,93.776375,1.839154,7.038473,0.075944,94.561,0.37928,7.13724,0.17312
3,Alaska,89.917597,1.215976,6.47688,0.049882,180.0,3.427735,1162.9084,22.8639,91.281537,1.563482,6.486785,0.053082,93.2409,1.57371,6.24087,0.145993
4,Arizona,89.036961,2.952601,6.43369,0.091917,181.0,1.678664,1159.1144,14.4327,88.904393,3.905033,6.443155,0.102053,88.9797,3.22058,6.36909,0.248824
5,Arkansas,91.827111,1.352924,6.88542,0.061468,179.0,0.201577,1228.8881,10.6821,92.093201,2.091651,6.932160,0.076546,90.812,2.23155,6.76751,0.095928